#login
    .row
        display flex
        justify-content center
        align-items center
#register
    .row
        display flex
        justify-content center
        align-items center

.logo
    p
        color: #FFF !important
        font-size: calc(2.3rem + 1vw)
        margin: 0
.yamm
    .navbar-header
        margin-top 25px
        margin-right calc(1% + 42px) !important;

